
body{
background-color: rgb(212, 230, 236);
}

h1{
    color: black;
    text-align: center;
    text-decoration: underline green 5px;
    text-transform: lowercase;
    letter-spacing: 10px;
}
h4{
    margin-top: 50px;
    color: black;
    text-align: center;
    text-decoration: double green 5px;
    /* text-transform: lowercase; */
    letter-spacing: 5px;
    font-family: cursive;
    margin-bottom: 20px;
}
h4:hover{
  color: green;
}

h5{
    text-align: center;
}

#one{

    height: 100px;
    /* margin-top: 500px; */
    margin-left: 75px;
    /* margin-bottom: 200px; */
    padding-bottom: 100px;

}


.custom-card {
    font-size: 16px;
    height: 120px !important; /* Force it to override Bootstrap */
    overflow: hidden;         /* Optional: hides overflow if content is bigger */
    background-color: white;
    border-left: 5px solid #28a745; /* green accent */
    color: #333;
    }
.card-header{

    letter-spacing: 5px;
}
.card-link {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    text-align: center;
    text-decoration:unset skyblue 5px;
    font-weight: 500;
    letter-spacing: none;
    }


.centered-link {

    text-decoration: none;
    color: inherit;
    font-size: 20px;
    /* text-decoration:unset skyblue 5px; */
    font-weight: 500;
    letter-spacing: none;
    display: block;
    text-align: center;     
    font-weight: 500;        /* optional */
    color: white;
    }
    .centered-link:hover {
        color: rgb(15, 173, 39) ;
        /* text-decoration: underline rgb(106, 174, 196); */
    }


.section-heading {
    font-size: 20px;
    font-weight: 600;
    color: #2c3e50;
}
.section-heading:hover {
    font-size: 20px;
    font-weight: 600;
    color: green;
}


